html {
    scroll-behavior: smooth;
}

/* Margins */
.margin-div {
    margin: 8rem 0 8rem 0;
}

/* Language div of textarea and textarea */
.language-div {
    width: 25rem;
}

textarea {
    height: 10rem;
}

/* Text Alignment */
h2,
h3,
p {
    text-align: center;
}

/* Divs */
.translate-div,
.information-div {
    display: flex;
    flex-wrap: wrap;
}

.translate-div {
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.information-div {
    justify-content: space-evenly;
    align-items: normal;
}

.info-div {
    width: 30%;
    text-wrap: wrap;
}

#switch-div {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
}

.form-label {
    font-size: 0.9rem;
    opacity: 0.75;
}

.top-btn {
    height: 2.4rem;
    width: 2.4rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}